:root {
		--primary-text-color:#2E2F42;
		--title-text-color:#434455;
		--accent-color:#4D5AE5;
		--bg-color-body:#FFFFFF;


		--footer--:#F4F4FD;
		--footer-p:#E7E9FC;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}



body {
		font-family: "Roboto", sans-serif;
		background-color: var(--bg-color-body);
		font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p {
	margin top: 0;
	margin bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
}

button {
	cursor: pointer;
}

/* __________ul__________ */
.list {
		list-style: none;
		color: var(--title-text-color);
}

/* __________a__________ */
.link {
		text-decoration: none;
}



/* __________HEADER__________ */
.logo {
		font-family: 'Raleway';
		font-weight: 800;
		font-size: 18px;
		line-height: 1.33;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--primary-text-color);
}

.accent {
		color: var(--accent-color);
}

.list a:hover,
.list a:focus {
		color: var(--accent-color);
}
 
.nav-link {
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--primary-text-color)
}

.contact-link {
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--title-text-color);
}

.phone-link {
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--title-text-color);
}



/* __________HERO__________ */
.hero {
		background-color: var(--primary-text-color);
}

.hero-title {
		font-weight: 600;
		font-size: 56px;
		line-height: 1.07;
		
		letter-spacing: 0.02em;
		color: var(--bg-color-body);
}

.hero-btn {
		background: var(--accent-color);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
}

.btn {
		color: var(--bg-color-body);
}



/* __________SECTION EXAMPLES__________*/
.examples-title {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: var(--primary-text-color);
}

.examples-description {
		
		line-height: 1.5;
		letter-spacing: 0.02em;
		color:var(--title-text-color);
}



/* __________SECTON 1__________ */




/* __________SECTION 2__________ */
.section-title {
		font-weight: 600;
		font-size: 36px;
		line-height: 1.11;
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		color: var(--primary-text-color);
}

.team-name {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: var(--primary-text-color);
}

.team-position {
		line-height: 1.5;
		letter-spacing: 0.02em;
		color:var(--title-text-color);
}



/* __________FOOTER__________ */

.footer {
		background-color:var(--primary-text-color);
}

.footer-logo {
		font-family: 'Raleway';
		font-weight: 800;
		font-size: 18px;
		line-height: 1.16;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color:var(--accent-color)
	
}

.accent-accent {
		color: var(--footer--);
}

.footer-description {
		line-height: 1.5;
		letter-spacing: 0.02em;
		color:var(--footer-p);
}




/* __________MAIN__________ */
.main-btn {
		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.04em;
		color: #4D5AE5;
}

.main-btn-primary {
		background-color: var(--accent-color);
}

.nav-list .nav-link.current {
color: var(--accent-color);
}


.main-link {
		font-weight: 600;
		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.04em;
		color:var(--accent-color);

}

.main-title {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: var(--primary-text-color);
}

.main-description {
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--title-text-color);
}



/* __________HEADER Styles__________ */
.header {
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--footer-p);
}

.header-container {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
}

.nav-list {
	display: flex;
	align-items: center;
}

.nav-item:not(:last-child) {
	margin-right: 40px;
}

.list {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.logo {
	margin-right: 77px;
}

.contact-link {
	margin-right: 40px;
}

.container {
	width: 1128px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 12px;
	padding-right: 12px;
}



/* __________HERO Styles__________ */
.hero-container {
	padding-top: 192px;
	padding-bottom: 192px;
	text-align: center;
}

.hero-title {
	margin-bottom: 48px;
	font-weight: 600;
	font-size: 56px;
	line-height: 1.07;


	letter-spacing: 0.02em;
	color:var(--bg-color-body);
}

.hero-btn {
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	width: 170px;
	height: 51px;

	font-weight: 600;
	line-height: 1.18px;
	display: inline-block;
	letter-spacing: 0.04em;
	color:var(--bg-color-body);
}



/* __________SECTION EXAMPLES Styles__________ */
.examples-container {
	padding-top: 120px;
	padding-bottom: 120px;

	
}

.examples-title-title {
	display: none;
}

.examples-list {
outline: 1px solid rgb(235, 9, 9);
padding: 0;
margin: 0;

display: flex;
flex-wrap: wrap;


margin-left: -24px;
margin-top: -24px;
}

.examples-list > .examples-item {
outline: 1px solid rgb(19, 230, 93);

flex-basis:calc(100% / 4 - 24px) ;

margin-left: 24px;
margin-top: 24px;
}

.examples-title {
	margin-bottom: 8px;
}

.examples-description {
	width: 264px; 
	height: 104px;
	margin-right: 24px;
	margin-top: 0;
}



/* __________SECTION 1 Styles__________ */
.section {}

.container {}

.section-container {
	
	
}

.section-title {
	margin-bottom: 72px;
	
}

.section-list {}

.list {}

.section-item {
	margin-right: 24px;
	
}

.image {}



/* __________SECTION 2 Styles__________ */
.section {}

.container {}

.section-container {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section-title {
	margin-bottom: 72px;
}

.section-list {}

.list {}

.section-item {
	margin-right: 24px;
	text-align: center;
}

.image {}

.team-name {
	margin-top: 32px;
	margin-bottom: 8px;
}

.team-position {
	margin-top: 0;
}



/* __________FOOTER Styles__________ */
.container {}

.footer-container {
	height: 310px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer-logo {
	margin-bottom: 16px;
}

.link {}

.accent {}

.accent-accent {}

.footer-description {
	width: 264px;
	height: 110px;
}
