:root {
		--primary-text-color:#2E2F42;
		--title-text-color:#434455;
		--accent-color:#4D5AE5;
		--bg-color-body:#FFFFFF;


		--footer--:#F4F4FD;
		--footer-p:#E7E9FC;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}



body {
		font-family: "Roboto", sans-serif;
		background-color: var(--bg-color-body);
		font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

/* __________ul__________ */
.list {
		list-style: none;
		color: var(--title-text-color);
}

/* __________a__________ */
.link {
		text-decoration: none;
}



/* __________HEADER__________ */
.logo {
		font-family: 'Raleway';
		font-weight: 800;
		font-size: 18px;
		line-height: 1.33;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--primary-text-color);
}

.accent {
		color: var(--accent-color);
}

.list a:hover,
.list a:focus {
		color: var(--accent-color);
}
 
.nav-link {
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--primary-text-color)
}

.contact-link {
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--title-text-color);
}

.phone-link {
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--title-text-color);
}



/* __________HERO__________ */
.hero {
		background-color: var(--primary-text-color);
}

.hero-title {
		font-weight: 600;
		font-size: 56px;
		line-height: 1.07;
		
		letter-spacing: 0.02em;
		color: var(--bg-color-body);
}

.hero-btn {
		background: var(--accent-color);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
}

.btn {
		color: var(--bg-color-body);
}



/* __________SECTION EXAMPLES__________*/
.examples-title {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: var(--primary-text-color);
}

.examples-description {
		
		line-height: 1.5;
		letter-spacing: 0.02em;
		color:var(--title-text-color);
}



/* __________SECTON 1__________ */




/* __________SECTION 2__________ */
.section-title {
		font-weight: 600;
		font-size: 36px;
		line-height: 1.11;
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		color: var(--primary-text-color);
}

.team-name {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: var(--primary-text-color);
}

.team-position {
		line-height: 1.5;
		letter-spacing: 0.02em;
		color:var(--title-text-color);
}



/* __________FOOTER__________ */
.footer {
		background-color:var(--primary-text-color);
}

.footer-logo {
		font-family: 'Raleway';
		font-weight: 800;
		font-size: 18px;
		line-height: 1.16;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color:var(--accent-color)
	
}

.accent-accent {
		color: var(--footer--);
}

.footer-description {
		line-height: 1.5;
		letter-spacing: 0.02em;
		color:var(--footer-p);
}




/* __________MAIN__________ */
.main-btn {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5px;
		

		border-radius: 4px;
		border: none;
		padding: 12px 24px;

		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.04em;
		color: #4D5AE5;

}

.main-link {
		font-weight: 600;
		line-height: 1.5;
		text-align: center;
		letter-spacing: 0.04em;
		color:var(--accent-color);

}

.main-title {
		font-weight: 600;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		color: var(--primary-text-color);
}

.main-description {
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--title-text-color);
}



/* __________HEADER Styles__________ */
.header {
	padding-top: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--footer-p);

	/* outline: 1px solid red; */
}

.header-container {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
}

.nav-list {
	display: flex;
	align-items: center;
}

.nav-item:not(:last-child) {
	margin-right: 40px;
}

.list {
	display: flex;

	/* align-items: center; */

	margin-left: auto;
}

.logo {
	margin-right: 77px;
}

.item {
	margin-right: 40px;
}

.container {
	width: 1158px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}



/* __________HERO Styles__________ */
.section {
	padding: 120px 0;
}

.hero {
	padding-top: 188px;
	padding-bottom: 188px;
	text-align: center;

	/* outline: 1px solid red; */
}

.hero-title {
	width: 500px;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 48px;
	font-weight: 600;
	font-size: 56px;
	line-height: 1.07;


	letter-spacing: 0.02em;
	color:var(--bg-color-body);
}

.hero-btn {
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	border: none;

	width: 170px;
	height: 51px;

	font-weight: 600;
	line-height: 1.18px;
	display: inline-block;
	letter-spacing: 0.04em;
	color:var(--bg-color-body);
}



/* __________SECTION EXAMPLES Styles__________ */
.section {

	
	/* outline: 1px solid red; */
}

.examples-title-title {
	visibility: hidden;
}

.examples-list {
	padding: 0;
	margin: 0;
	display: flex;
	gap: 24px;
}

.examples-title {
	margin-top: 0;
	margin-bottom: 8px;
}

.examples-description {
	width: 264px; 
	height: 104px;
	margin-top: 0;
	margin-bottom: 0;
}



/* __________SECTION 1 Styles__________ */
.section-title {
	margin-bottom: 72px;

}



/* __________SECTION 2 Styles__________ */
.section-team {
	background: var(--footer--)	;

	background: var(--bg-color-body);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
	0px 1px 1px rgba(46, 47, 66, 0.16), 
	0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;

}

.section-title {
	margin-bottom: 72px;
	margin-top: 0;
}

.section-list {
	gap: 24px;


	
}

.section-item-team {
	text-align: center;


	background:var(--bg-color-body);
		box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
		0px 1px 1px rgba(46, 47, 66, 0.16), 
		0px 2px 1px rgba(46, 47, 66, 0.08);
		border-radius: 0px 0px 4px 4px;

		
	/* outline: 1px solid red; */
}

.card-content {
	padding: 32px 16px;
}

.team-name {
	margin-top: 0;
	margin-bottom: 8px;
}

.team-position {
	margin-top: 0;
	margin-bottom: 0;
}



/* __________FOOTER Styles__________ */
.footer {
	padding-top: 100px;
	padding-bottom: 100px;


	/* outline: 1px solid red; */
}

.footer-logo {
	margin-bottom: 16px;
}

.footer-description {
	width: 264px;
	margin-bottom: 0;
}



/* __________MAIN Styles__________ */
.main {
padding-top: 96px;

	/* outline: 1px solid red; */
}

.main-title-title {
	visibility: hidden;
}

.main-btn {
	margin-bottom: 72px;
	display: inline-block;


	/* color: var(--bg-color-body); */


}

.main-item-item {
flex-basis: calc((100% - 48px) / 3);
}

.main-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	row-gap: 48px;
	justify-content: center;
}

.btn {
	/* background: #404BBF; */
	/* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
	0px 2px 1px rgba(0, 0, 0, 0.08), 
	0px 2px 2px rgba(0, 0, 0, 0.12); */


		border-radius: 4px;



}


.main-title {
margin-top: 0px;
margin-bottom: 8px;
}

.main-description {
	margin-top: 0;
	margin-bottom: 0;
}

.main-btn-primary {
	padding: 12px 24px;
	border: none;

	background: #404BBF;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
	0px 2px 1px rgba(0, 0, 0, 0.08), 
	0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}